body{
    font-family: Arial, Helvetica, sans-serif;
}

.control-information-box{
    position: absolute;
    background-color: rgba(255,255,255,0.8);
}
.box-header{
    text-align: center;
}
.information-nav{
    list-style-type: none;
}

#toggle-information-nav{
    font-style: italic;
    color: rgb(143, 35, 35);
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
}
#control-information-box-wrapper{
    overflow: hidden;
    transition: all 1s ease-out;
    max-height: 70vh;
}

#energy-bar{
    position: absolute;
    left: calc(50% - 150px);
    width: 300px;
}
#outer-bar{
    background: black;
    width: 300px;
    height: 20px;
}
#inner-bar{
    width: 300px;
    height: 20px;
    background: yellow;
    transition: all 500ms ease-in;
}
#energy-amount{
    color: red;
    position: absolute;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

#options{
    position: absolute;
    right: 0;
    padding: 0.5rem;
    background-color: rgba(255,255,255,0.8);

}

#plus{
    color: white;
    background-color: green;
    display: inline-block;
    padding: 0.1rem;
    cursor: pointer;
}
#minus{
    color: white;
    background-color: red;
    display: inline-block;
    padding: 0.2rem;
    cursor: pointer;
}

#toggle-shader-button{
    color: white;
    background-color: rgb(62, 62, 236);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#tasks{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,0.8);
    padding: 1rem;
}